<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iqbal.karim.ahmed.salik.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IqbalKarim_AhmadSalik_Project">
        <activity
            android:name=".TermsAndConditionsActivity"
            android:exported="false" />
        <activity
            android:name=".AboutActivity"
            android:exported="false" />

        <service
            android:name=".JSONReadService"
            android:exported="false" />
        <service
            android:name=".services.NotifService"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>